[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
coverage = "*"
awscli = "*"
flake8 = "*"
Sphinx = "*"
pandas = "*"
scikit-learn = "*"
pyarrow = "*"
fastparquet = "*"
sklearn-evaluation = "*"
torch = "*"
tensorboard = "*"
atari-py = "*"
gym = "*"
numpy = "*"
opencv-python = "*"
torchvision = "*"
pytorch-ignite = "*"
tensorboardX = "*"
tensorflow = "*"
nltk = "*"
pybullet = "*"
ptan = "*"
gdelt = "*"
market-watch = {editable = true, path = "."}

[dev-packages]
jupyterlab = "*"
graphviz = "*"
pygraphviz = "*"
pytest-runner = "*"
pytest = "*"

[requires]
python_version = "3.9"
