[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
coverage = "*"
awscli = "*"
flake8 = "*"
Sphinx = "*"
pandas = "*"
scikit-learn = "*"
pyarrow = "*"
fastparquet = "*"
sklearn-evaluation = "*"
tensorboard = "*"
numpy = "*"
tensorflow = "*"
nltk = "*"
pybullet = "*"
gdelt = "*"
python-dotenv = "*"
google-cloud-bigquery = {extras = ["bqstorage", "pandas"], version = "*"}
networkx = "*"
altair = "*"
matplotlib = "*"
openpyxl = "*"
yfinance = "*"
market-watch = {editable = true, path = "."}
gym = {extras = ["atari"], version = "*"}
opencv-python = "*"
tensorboardx = "*"

[dev-packages]
graphviz = "*"
pygraphviz = "*"
pytest-runner = "*"
pytest = "*"
jupyterlab = "*"

[requires]
python_version = "3.9"
